h1{
    color: chartreuse;
    font-size: 50px;
}

p{
    color: blueviolet;
    font-size: larger;
}
li{
    color:crimson;
}
.chocolate{
    color: chocolate;
}
.backgroundcolor{
    background-color: black;
}
#unique{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}