* {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.layout {
    border: 3px solid black;
    text-align: justify;
    background-color: #f9f9f9;
}
.display{
            display: flex;
        }


.header {
    border: 2px solid black;
    margin: 10px;
    text-transform: uppercase;  
    align-items: center;
    justify-content: center;
    ;
}

.Nav{
    border: 2px solid black;
    margin: 10px;
}

.Nav-ul{
    align-items: center;
    text-align: center;
    list-style: none;
    height: 300px;
}
.Nav-ul:hover, 
.Nav-ul :active{
    color: maroon;
    letter-spacing: 1.5px;
}

.sidebar {
    border: 2px solid black;
  
    justify-content: center;
    margin: 10px;
    padding: 10px;
    align-items: center;
    font-size: larger;
    flex:1;
    display: flex;
    padding: 15px;
    height: 300px;

}

.content {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    text-transform: inherit;
    font-size: larger;
    align-items: center;
    justify-content: center;
    flex: 3;
    display: flex;
    padding: 15px;
    
    height: 300px;

}


.footer {
    border: 2px solid black;
    margin: 10px;
    
    align-items: center;
    font-size: larger;
    height: 50px;
    justify-content: center;
}