<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task4</title>
    <link rel="stylesheet" href="task4.css">
</head>
<body class="layout">
 <div>
    <header class="header">
        <h1>
            Header
        </h1>
    </header>

    <Main class="display">
        <aside class="sidebar">
            Left side bar
        </aside>
        <article class="content">
            Main content
        </article>
        <aside class="sidebar">
            right side bar
        </aside>
    </Main>
 </div>   
</body>
</html>