<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task5</title>
    <link rel="stylesheet" href="task5.css">
</head>

<body>
    <div>
        <Header >
            <div class="display margin">
            <aside class="logo">
                logo
            </aside>
            <article class="banner">
                Banner
            </article>
            </div>
            <h1 class="header">
                Headline
            </h1>
            
        </Header>
        <Main class="display">
        <aside class="sidebar">
            Left side bar
        </aside>
        <article class="content">
            Main content
        </article>
        <aside class="sidebar">
            right side bar
        </aside>
    </Main>
    <footer class="footer">
        Footer
    </footer>
    </div>
</body>

</html>