<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task3</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="layout">
    <header class="header">
<h1 >
    voice of India
</h1>
    </header>
    <main class="display">
        <nav class="Nav">
            <ul>
                <li><a href="#"> Home</a></li>
                <li><a href="#"> national</a></li>
                <li><a href="#"> International</a> </li>
                <li><a href="#"> Bussiness</a></li>
            </ul>
        </nav>
        <article class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aliquam eligendi deleniti sapiente magni consequuntur assumenda vel aperiam maiores nulla, omnis autem aspernatur libero similique, earum in. Ut voluptas maxime eius officia sapiente repellendus minus! Quaerat distinctio repellat a id harum. Dolores suscipit dolorum eos, enim vero officiis debitis obcaecati fugiat assumenda non nemo provident nobis ipsa illo qui temporibus, omnis sapiente iste ut! Quidem deleniti doloremque reprehenderit nisi quas assumenda non. Molestiae quam saepe doloribus ab, impedit vero inventore consectetur adipisci aliquid sed quia harum, ipsum iure eligendi repellendus modi, rerum facilis ea quas mollitia consequuntur voluptates. Repudiandae, aliquam.

        </article>
        <aside class="sidebar">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque excepturi quibusdam dolorum fugiat maxime labore iste molestiae asperiores voluptatibus libero sequi laboriosam aut perspiciatis atque deleniti aspernatur delectus repudiandae nulla, corrupti nisi? Repudiandae aspernatur beatae sunt veniam quidem repellat quos explicabo autem, atque assumenda in possimus dolor ullam, labore delectus.

        </aside>
    </main>
    <footer class="footer">
        Stay tuned 
    </footer>
</body>

</html>