* {
    font-family: 'Courier New', Courier, monospace;
    text-transform:inherit;
    align-items: center;
    justify-content: center;
}

.end{
    justify-content:space-between;
}
.h4{
    text-decoration: wavy;
    font-size: larger;
    justify-content: flex-start;
}

.p{
    margin: 20px;
    font-size: large;
}

.display{
    display: flex;
    flex-direction: row;
}
.Nav{
    margin: 10px;
    color: black;
    position: sticky;
    top:0;  
    background-color: #c2deaf;
    
    
}
.Nav-ul:hover {
    color: maroon;
}
.Nav-ul{
    align-items: center;
    text-align: center;
    width: flex;
} 


.layout {
    margin: 15px;
    background-color: rgba(101, 85, 63, 0.155)
}

.padding{
    padding:15px;
}

.display{
    display:flex;
    flex-direction: column-reverse  ;
}

.logo{
    background-color: cornflowerblue;
    display: flex;
   
}

.logoimg{
     border-radius: 100px;
    padding: 5px;
    height: 100px;
    width:100px;
    object-fit: contain;
}
.banner{
     border: 1px solid black;
     border-radius: 80px;
    background-color: #719358;
    position: fixed;
    top: 0;
    padding: 5px;
}

.header {
    border: 2px solid black;
    background-color: rgb(162, 35, 35);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
   
}
.sticky{
    position: sticky;
    top: 5;

}

.Nav-ul {
    align-items: center;
    text-align: center;
    list-style: none;
    height: 300px;

}

.Nav-ul:hover,
.Nav-ul :active {
    color: maroon;
    letter-spacing: 1.5px;
}

.sidebar {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSelNt-37ETYy4cbklCpFzH5_D2RjO425HHcJ3C-qKmsA&s=10');
    color: rgb(250, 240, 230);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: larger;
    padding: 15px;
    width:300px;
    height: 300px;
    margin: 100px;
    border: 1px solid olivedrab;
}
.margin{
    margin:10px;
}





.WHITETEXT{
    color: antiquewhite;
}
.content {
    color: rgb(23, 22, 21);
    text-transform:initial;
    padding: 10px;
    border: 1px solid olivedrab;
    padding: 15px;
    width: 400px;
    height: 350px;
    background-repeat: no-repeat;
    

}


.footer {
    
    font-size: larger;
    height: 30px;
    background-color: gold;
    border-radius: 35%;
    justify-content: flex-end;
    
}

