* {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.layout {
    border: 3px solid black;
    align-items: center;
    background-color:rgb(224, 215, 204)
}
.display{
    position:relative;

        }


.header {
    border: 2px solid black;
    background-color:rgb(239, 111, 111);
    margin: 10px;
    text-transform: uppercase;  
    align-items: center;
    justify-content: center;
}

.Nav{
    border: 2px solid black;
    margin: 10px;
    background-color: burlywood;
    
}

.Nav-ul{
    align-items: center;
    text-align: center;
    list-style: none;
    height: 300px;
    width: flex;
    
}
.Nav-ul:hover, 
.Nav-ul :active{
    color: maroon;
    letter-spacing: 1.5px;
}

.sidebar {
    border: 2px solid black;
    background-color: chocolate;
    margin: 10px;
    padding: 10px;
    height: 300px;
    /* width:45%; */
    display: flex;
    flex-direction: row;
}

.content {
    border: 2px solid black;
    background-color: darkgoldenrod;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* width: 45%; */

}


.footer {
    border: 2px solid black;
    margin: 10px;
    background-color:darkolivegreen;
    align-items: center;
    display: flex;
}