<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width, initial-scale=1.0">
    <title>Task2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="layout">
        <header class="header"> 
            <h1>
                voice of India
            </h1>
        </header>
        <nav class="Nav">
            <ul>
                <li><a href="#"> Home</a></li> 
                <li><a href="#"> national</a></li>
                <li><a href="#"> International</a> </li>
                <li><a href="#" > Bussiness</a></li>
            </ul>
        </nav>
        <Main class="display">
            <aside class="sidebar">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, mollitia. Esse repellat ipsam repellendus id voluptate excepturi accusamus, distinctio corporis?
            </aside>
            <article class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quis eveniet temporibus consectetur velit. Praesentium dolor quidem cum? At cum illo, tenetur voluptates, ullam dicta nostrum quo eius sint, perferendis recusandae. Provident temporibus molestiae blanditiis cum esse aliquid. Doloribus explicabo ex soluta reprehenderit tempora distinctio, enim modi deleniti quibusdam similique?
            </article>
        </Main>
        <footer class="footer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </footer>
    </div>
</body>
</html>