<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav-bar</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>            

        <div class="nav-bar" >
            <ul class="ul">
            <li id="Amazon" > <a href="#"> Amazon.in</a></li> 
            <li ><a href="#">Account</a></li>
            <li ><a href="#">Mycart</a></li>
            <li ><a href="#">Contactus</a></li>
            <div class="search">
                <input type="text" placeholder="search amazon.in">
                <button id=" button" class="button" name="search">search</button>
            </div>
            </ul>
        </div>

    </header>

</body>

</html>